.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-content: center;
  box-shadow: 2px -2px 2px rgba(0, 0, 0, 0.5);
  justify-content: center;
  color: black;
  margin-top: 20px;
  padding: 20px;
  background: url("https://thumbs.gfycat.com/LeanDismalAlaskanmalamute-size_restricted.gif");
  /* background-color: #d43f00; */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-blend-mode: multiply;
  border: none;
  bottom: 0;
  position: static;
  
}

.footernavs {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  line-height: 1px;
  flex-wrap: nowrap;
  margin-left: 0% ;
}

.footernavs > li {
  margin-top: 5px;
  cursor: pointer;
  font-family: verdana;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.footernavs li:hover {
  transform: scale(1.2);
  color: rgb(225, 228, 59);
}

.footernavs > li a {
  text-decoration: none;
}
.footernavs > li a:hover {
  text-decoration: none;
  transform: scale(1.2);
  color: rgb(225, 228, 59);
}

.followlinks {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  line-height: -1;
}

.followlinks > li {
  margin: auto;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

/* icons stylings */

.i1:hover {
  color: #4267b2;
  transform: rotate(10deg);
}
.i2:hover {
  color: #c73f78;
  transform: rotate(10deg);
}
.i3:hover {
  color: #5073b9;
  transform: rotate(10deg);
}
.i4:hover {
  color: #17459c;
  transform: rotate(10deg);
}

@media screen and (max-width: 600px) {
  .followlinks > li {
    font-size: 20px;
    align-items: center;
  }
  .footer {
    font-size: 20px;
    padding: 20px 0px;
  }
  .footernavs > li {
    font-size: 14px;
  }
}
