@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap");

.myfont {
  font-family: "IM Fell English SC", serif;
}

.leftborder {
  height: 80px;
  border-left: 8px solid yellow;
}

.paymentbtn span {
  background-color: red !important;
  background: none !important;
  background-image: none !important;
  color: black;
  box-shadow: none;
}

a {
  text-decoration: none;
}
.promo {
  margin: auto;
  margin-top: 10px;
}
