.userdetails {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
}

.user-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: linear-gradient(to right, #43c6ac, #f8ffae);
  flex-direction: column;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  padding: 20px 0px;
  box-sizing: border-box;
}

.detail_box {
  padding: 10px 6px;
  background-color: #f9f9f9;
  border-radius: 4px;
  margin: 5px;
  width: 60%;
  box-sizing: border-box;
  outline: none;
  border: none;
}

.detail_box:focus {
  border-bottom: 4px solid rgb(31, 173, 31);
  box-sizing: border-box;
  padding: 8px 6px;
}

.user-container > div {
  box-sizing: border-box;
  padding: 10px 6px;
  margin: 5px 0px;
  width: 80%;
}

.changebtn {
  outline: none;
  background-color: red;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  color: white;
  font-weight: 700;
  width: 60%;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .detail_box {
    width: 90%;
  }
}
