.AboutWebsite{
    height: 300px;
    width: auto;
    display: flex;
    padding: 30px;
    background-color: #2facdd;
}
.AboutWebsite img{
    height: 300px;
    border-radius: 50%;
    margin: 30px;
}
.AboutWebsite p{
    margin-top: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: white;
    text-align: center;
}



.aboutus{
    text-align: center;
    align-items: center;
    background: linear-gradient(#2facdd, #b6fff5 25%, #fff 55% 100%);
    padding-bottom: 10px;
}
.img-circle{
    max-width: 20%;
    margin-top: 10px;
    border-radius: 50%;
}

.centro{
    float: none;
    margin-top: 100px;
}
.espacio{
    margin-right: 1em;
}
.nombre{
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    color: #0087D0;
}
.nombre-letra{
    font-family: 'Gudea', sans-serif;
    color: #6F736E;
}
.acerca{
    font-family: 'Gudea', sans-serif;
}

@media screen and (max-width: 600px) {
    .AboutWebsite img{
        display: none;
        border-radius: 50%;
    }
    .AboutWebsite{
        display: flex;
        height: auto;
        flex-direction: column;
    }
    .AboutWebsite p{
        margin-top: 0;
    }
    
  }