.carousel{
    width: 100vw;
    height: 250px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselbox{
  height: 200px;
    display: flex;
    animation-name: slide;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-duration: 10s;
    animation-direction: alternate;
    

}

body{
    overflow-x: hidden;
}


.carouselbox > img{
    width : 25vw;
    height: 180;
    display: inline-block;
    margin: 5px;
}

img :hover{
    width: 26vw;
    height: 190px;
}   




/* @keyframes slide {
    from { margin-right: -600px;}
    to  {margin-right :500px}
} */