* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.netflix-logo {
  height: 15vw;
  width: 100%;
  text-align: center;
}

.netflix-logo img {
  height: 100%;
  /* width: 100%; */
}

.carousel {
  height: 250px;
  background-color: yellow;
  width: 80%;
  position: relative;
}
.carousel .switchLeft,
.carousel .switchRight {
  color: white;
  font-weight: bold;
  height: 100%;
  width: 45px;
  line-height: 250px;
  font-size: 25px;
  text-align: center;
  background-color: lightgreen;
  font-family: sans-serif;
  top: 0;
  z-index: 3;
}

.carousel .switchLeft {
  position: absolute;
  left: 0px;
  background-color: blue;
}

.carousel .switchRight {
  position: absolute;

  right: 0px;
}

.carouselbox {
  height: 250px;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  padding-bottom: 10px !important;
  display: flex;
  align-items: center;
}


.carouselbox img {
  min-width: 147px;
  max-width: 147px;
  height: 200px;
  background-size: cover;
  background-color: lightgreen;
  margin: 5px 10px;
  cursor: pointer;
  transition: 0.5s ease;
  z-index: 2;

  /* margin: 15px; */
}

.carouselbox img:hover {
  transform: scale(1.4);
  z-index: 5;
}